
html,
body{
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

p,li{
    font-size: 1rem;
    display: block;
    line-height: 1.7em;  
    font-weight: 300;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    text-align: center;
}

.titleh2 {
  font-family: 'Playball', cursive;
  font-size: 3rem;
  margin-bottom: 50px;

}
  
/*-- Start Navigation bar--*/
.header-top{
  padding:50px 0;
}

.header-top .logo{
  text-align: center;
}

.header-top .logo h1{
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.header-top ul{
  margin-top: 30px;
}
.contact-info li{
  font-size: 0.6rem;
  font-weight: bold;
  color: #595959;
}
.contact-info i{
  font-size: 0.7rem;
  color: #000;
  font-weight: 700;
}

.header-top .logo span{
  font-family: 'Arizonia', cursive;
  font-size: 2rem;
  font-weight: 300;
}

.social-top li{
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.social-top i{
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
  padding: 12px;
  color: #fff;
  border: 1px solid #fff;
}

.social-top i:hover{
  color: #000;
  background: #fff;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  border: 1px solid #000;
}

.social-so{
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 50%;
}

.navbar {
  background-color: #000;
}

.navbar-nav {
  text-align: center;
  margin: 0 auto;
  
}

.navbar-light .navbar-nav .nav-link {
    color: #999999;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0 20px;
    text-transform: uppercase;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.navbar-toggler span {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.navbar-toggler:focus {
    outline: none!important;
    box-shadow: none!important;
}

.navbar-toggler-icon .navbar-collapse:hover,
.navbar-toggle-icon .navbar-collapse:focus {
  background-color: #fff!important;
  color: #fff!important;
}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    font-weight: 400;
}

/*-- Meida Quiries --*/
@media screen and (max-width: 768px) {
  .header-top .logo h1{
    font-size: 1.3rem;
  }

  .header-top .logo span{
    font-size: 1.3rem;
  }

  .navbar {
    padding: 0px;
  }

  .header-top ul{
    text-align: center;
    margin-top: 20px;
  }

  .social-top {
    text-align: center;
    margin: 0 auto;
    padding-right: 25px;
  }

  .social-top li{
    display: inline-block;
    margin:0 20px;
    cursor: pointer;
  }

}


/*-- HERO--*/
.hero-image{
  padding: 130px 0;
}

.w-100 {
    width: 100%!important;
    height: 418px !important;
}

.hero-left > span{
  font-size: 2rem;
  color: rgba(12, 12, 23, 0.9);
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero-left{
  padding-left: 100px;
  margin-top: 85px;
}

.hero-right{
    padding: 0;
}

.hero-left h2{
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: justify;
  letter-spacing: 0;
}

.hero-left p{
  max-width: 40rem;
  padding: 10px 0;
  color: rgba(12, 12, 23, 0.9);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: .65em;
}

button{
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-right: 20px;
}

button > a{
  text-decoration: none;
  padding: 25px 20px;
  color: #000;
  letter-spacing: 3px;
}

button > a:hover{
  text-decoration: none;
}

.button-sec{
  background-color: #000;
}

.button-sec > a{
  color: #fff;
}

/*-- Meida Quiries --*/
@media screen and (max-width: 768px) {
  .hero-image{
    padding: 0px;
  }

  .hero-left{
    text-align: center;
    margin: 20px auto;
    padding-left: 10px;
  }

  .hero-left > span{
    font-size: 1.2rem;
    text-align: center;
  }

  .hero-left h2{
    font-size: 1.2rem;
    text-align: center;
    padding: 10px 0;
  }

  .hero-left p{
    max-width: 40rem;
    text-align: center;
    margin: 10px auto;
    padding: 0px 0;
    font-size: 0.4rem;
  }

  button{
    font-size: 1rem;
    text-transform: uppercase;
    margin: 15px 0;
    padding: 15px 0;
  }

  .probtn{
    border: 1px solid #000;
  }

  .w-100 {
    width: 100%!important;
    height: 200px !important;
  }

}

/*--whayus--*/
.whayUs{
  padding: 40px 0;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.whayUs .box{
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  padding: 0 40px;
}



.media img{
  padding-left: 50px;
}

.media h5{
  font-size: 0.4rem;
  text-transform: uppercase;
  padding-top: 4px;
  
}

br{
  line-height: 1.7;
}

.media span{
  font-size: 0.8rem;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 768px){

  .whayUs{
    display: none;
  }
}

/*--aboutus--*/

.aboutUs{
  padding: 120px 0;
  background-color: #f2f2f2;
}

.aboutUs .left{
  border-right: 1px solid #cccccc;
}

.aboutUs p{
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .aboutUs{
    padding: 80px 0;
  }

  .aboutUs .left{
    border-right: none;
  }

  .aboutUs p{
    padding: 0 10px;
    text-align: justify;
  }
}

/*--mulher--*/

.mulher{
  padding: 120px 0;
}

.fra-homem{
  display: block;
  color: rgba(12, 12, 23, 0.9);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: .65em;
  margin-bottom: 10px;
}

.first{
  margin-top: 20px;
}

.second{
  margin-top: 40px;
}

.sobre-perfume{
  margin-top: 10px;
}

.sobre-perfume h5{
  text-transform: uppercase;
  font-size: 1rem;
}

@media screen and (max-width: 768px){

  .mulher{
    padding: 80px 0;
  }
  .fra-homem{
    font-size: 0.4rem;
  }

  .titleh2{
    font-size: 2.5rem;
  }

  .mulher .box1{
    margin-bottom: 30px;
  }
}

/*--break--*/

.break-left{
    background: url('../img/cms-banner-01.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    top: 0px;
    width: 500px;
    height: 621px;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
}

.break-left, .break-right{
  padding: 0;
}

.hero-caption{
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
}

.hero-caption > h3{
    font-size: 2.6rem;
    padding-top: 400px;
    letter-spacing: 2px;
    font-family: 'Playball', cursive;
    font-weight: 700;
    display: block;
    color: #b39964;
    z-index: 3;
}


.hero-caption >span {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    display: block;
    padding-bottom: 25px;
    color: #fff;
    text-transform: uppercase;
    z-index: 3;
}


.hero-caption > a {
    font-size: 0.7rem;
    letter-spacing: 2px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    background-color: none;
    border: 1px solid #fff;
    text-transform: uppercase;
    z-index: 3;
    transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
}

.hero-caption > a:hover{
  text-decoration: none;
  background-color: #fff;
  color: #2c2c2c;
}



.break-right{
  background-color: #f2f2f2;
}

.break-right .serviços{
  padding-top: 85px;
}

.col1, .col2{
  margin-top: 30px;
  padding:0 50px;
}

.col1 h5, .col2 h5{
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
}

.break-right .texto{
    color: #6d6d6d;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 20px;
}

.icon i{
  color: #b0b0b0;
  font-size: 36px;
  font-style: normal;
}

@media screen and (max-width: 768px) {
    .hero-caption > h3{
      font-size: 2rem;
  }


  .hero-caption >span {
      font-size: 0.8rem;
  }


  .hero-caption > a {
      font-size: 0.5rem;
  }

  .break-right .serviços{
    padding-top: 50px;
  }

  .col1, .col2{
    padding:20px 20px;
    margin-top: none;
  }

  .break{
    padding-bottom: 20px;
  }

}

/*--FOOTER--*/

.footer{
  padding: 120px 0;
  background-color: #f2f2f2;
}

.footer h3{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #000;
}

.footer-left{
  border-right: 1px solid #cccccc;
}

.footer-left p, .footer-right p{
  padding: 0 20px;
}

.social-footer span{
  margin-right: 5px;
}

.social-footer2 li{
  display: inline-block;
  padding-right: 25px;
  cursor: pointer;
}

.social-footer2 i{
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
  padding: 12px;
  color: #fff;
  border: 1px solid #fff;
}

.social-footer2 i:hover{
  color: #000;
  background: #fff;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  border: 1px solid #000;
}

/*--footer-last--*/
.footer-last{
 background: #bfbfbf;
 overflow: hidden;
}

.footer-last p{
  padding-top: 12px;
}

@media screen and (max-width: 768px) {
  .footer{
    padding: 70px 0;
  }

  .footer-left{
    border-right: none;
    margin-bottom: 20px;
  }

  .footer h3{
    font-size: 1.5rem;
  }
  
  .footer-last p{
   font-size: 0.5rem;
  }

}

